@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');

.fma-wrapper.wrapper-2 {
    font-family: 'Open Sans Condensed', sans-serif;
    vertical-align: middle;
    display: none
}

.video-content {
    border-top: none;
}

.video-timestamp__date .video-timestamp__divider .video-timestamp__time {
    display: none;
}

.gl-widget--selected-btn {
    border: 2px solid white !important;
    background: #B2B3B5 !important;
}

.gl-widget__btn--primary {
    background: #B2b3b5 !important;
    color: black;
}

.gl-widget__btn--outline-primary:active .gl-widget__btn--outline-primary:focus .gl-widget__btn--outline-primary:hover {
    color: black !important
}